@import url("https://fonts.gooleapis.com/css2?family=Poppins:wght@200;400;600display=swap");
*{
        box-sizing: border-box;
}
.App{
        background-color:#323336;
        color:white;
        font-family:"Poppins",sans-serif;
        margin:0;
}


